/*** WEBPAGE COLORS **
    blue: #0005DE
    red: #DE0000
    grey: #8D8D8D
    White
***********************/







/*********** OTHER **********/

    body {
        height: 100%;
        background-repeat: no-repeat;
    }

    .background-image {
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }


    img {
        width: 50px;
        height: 50px;
    }

    h3 {
        margin: 0 0 1em 0;
    }

/********** NAVITGATION **********/

/* Changed nav background colors */
    .navbtn {
        background-color: white;

    }

    #blue {
        color: blue;
    }

     a.navbtn {
        color: blue;
     }

    /*Tomagocha name in navbar */
    .Tomagocha {
        font-family: 'Bitter', serif;
        background-color: white;
        color: #DE0000;
        font-size: 1.5em;
        font-weight: bold;
        
    }

    /* glyphicon icon connected to login in navbar */
    .glyphicon-log-in {
        color: red;
    }

    #navbar {
        background-color: white;
        
    }

    /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            border-bottom: 2px solid #0005DE;
            background-color: white;
            margin-bottom: 0;
            border-radius: 0;
        }

/********** FOOTER **********/

    /* Set black background color blue, silver text and some padding */
    footer {
        background-color: white;
        color: #DE0000;
        font-size: 1.5em;
        text-align: center;
        padding-top: 1em;
        border-top: 5px solid #0005DE;

    }

    footer {
        position: fixed;
        height: 70px;
        bottom: 0;
        width: 100%;
        text-align: center;
}

    
/********************************************
                PAGE: HOME
********************************************/   

    .index-background {
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        
    }

    
    /* PERIMITERS */
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {
        height: 450px
    }

    /* Set gray background color and 100% height */
    .sidenav {
        padding-top: 20px;
        background-color: #f1f1f1;
        height: 100%;
    }

    

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
        .sidenav {
            height: auto;
            padding: 15px;
        }
        .row.content {
            height: auto;
        }
    }

    /********** CONNECT LINKS **********/

    #connect {
        font-size: 24px;
        font-style: bold;
}


/********************************************
                PAGE: ABOUT
********************************************/   
   
    .profile-photo {
        display: block;
        max-height: 400px;
        max-width: 400px;
        height: 250px;
        width: 250px;
        margin: 0 auto 30px;
        
    }

    #aboutpg-footer {
        background-color: none;
    }

    .about-tomagocha {
        font-size: 2em;
        font-weight: bold;
    }

    .font-color {
        font-size: 1.5em;
        color: #F3F3F3;
        margin: 2em 4em 2em 4em;
    }

    #twitterLink {
        font-size: 1.5em;
        color: white;
         margin: 2em 4em 2em 4em;
    }

    #tomagocha-twitter-link {
        color: red;
    }

    #aboutpg-footer-border {
        border-top: 2px solid #F3F3F3;
    }


/**************************************************
                     PAGE: BIO
**************************************************/
     div.row {
        width: 1280px;
    }

    .fontColor {
        color: white;
        font-size: 18px;
        
        margin: 10px 10px 10px 10px;
         
     }

     .nameColor {
        font-family: 'Bitter', serif;
        font-size: 25px;
        font-weight: bold;
        color: white;
        text-shadow: .15em .10em black;
        margin-top: 1em;
     }

     .teamBio {
        width:
        margin: 1.75em 1.75em 1.75em 1.75em;
     }

    .placeholderMargin {
        margin: 2.25em 0 1em 0;
    }


/**************************************************
                     PAGE: CONTACT
**************************************************/

    div.jumbtron.jumbotron-sm {
        background-color: black;
    }




/******
    .jumbotron {
        background-color: white;
        color: #9d9d9d;
        border-radius: 0px;
    }

    .jumbotron-sm { padding-top: 24px;
        padding-bottom: 24px; }

    .jumbotron small {
        color: #9d9d9d;
    }

    .h1 small {
        font-size: 24px;
    }

    a {
        color: #9d9d9d;
    }
**********/