/*** WEBPAGE COLORS **
    blue: #0005DE
    red: #DE0000
    grey: #8D8D8D
    White
***********************/
textarea, input {
    /*background: transparent;*/
    opacity: 0.75;
}

.btn-danger {
    background-color: #DE0000;
}

/*********** OTHER **********/

html, body {
    height: 100%;
    background-repeat: no-repeat;
    background-position: left 50% top 15%;
    background-size: 35%;
}


img {
    width: 50px;
    height: 50px;
}

/* bmc: for the weather thing in the sidebar */
/* bmc: the percentages allow the image to scale with screen changes */
#satellite2 {
    /*width: 180px;*/
    /*height: 200px;*/
    width: 95%;
    height: 95%;
}

h3 {
    margin: 0 0 1em 0;
}

ul {
    list-style-type: none;
    line-height: 30px;
}

/* bmc: to show the result lines not all squished up */
.result {
    line-height: 1.3em;
}

#outputs {
    width:65%;
}

/* bmc: need this at 100% to make the gray sidebars go all the way to the bottom */
.container-fluid {
    height:100%;
}

/* bmc: to give the heading "Saved Calulations" some headroom */
#tableAreaHeading {
    margin-top: 24px;
}

/* bmc: for the social media icons, but I think these are no longer needed */
.icon {
    height: 40px;
    width: 40px;
    float: left;
    margin:5px 5px 5px 5px;
}


thead {
    font-weight:bold;
    font-size:1.3em;
}

/********** CONNECT LINKS **********/

#connect {
    font-size: 24px;
    font-weight: bold;
    /* bmc: changed from font-style to font-weight, the correct attribute*/
}


/********** NAVITGATION **********/
.navbtn {
    background-color: #0005DE;
    font-family: 'Bitter', serif;
    font-weight: bold;
    font-size: 1.2em;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #DE0000;
    background-color: #9d9d9d;
}

.TomagochaBlack {
    font-family: 'Bitter', serif;
    color: black;
    font-weight: bold;
}

.TomagochaWhite {
    font-family: 'Bitter', serif;
    color: white;
    font-weight: bold;
}

.TomagochaSilver {
    font-family: 'Bitter', serif;
    color: #9d9d9d;
    font-weight: bold;
}

.TomagochaRed {
    font-family: 'Bitter', serif;
    color: #DE0000;
    font-weight: bold;
}

.TomagochaBlue {
    font-family: 'Bitter', serif;
    color: #0005DE;
    font-weight: bold;
}

a:focus, a:hover {
    text-decoration: none;
    color: #DE0000;
}


/*Tomagocha name in navbar */
.Tomagocha {
    font-family: 'Bitter', serif;
    background-color: #0005DE;
    color: #DE0000;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: .25px .25px white;
}

/* glyphicon icon connected to login in navbar */
.glyphicon-log-in {
    color: red;
}

#navbar {
    background-color: #0005DE;

}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    border-bottom: 2px solid #F3F3F3;
    background-color: #0005DE;
    margin-bottom: 0;
    border-radius: 0;
}

/********** FOOTER **********/

/* Set black background color blue, silver text and some padding */
footer {
    background-color: #0005DE;
    color: #8D8D8D;
    font-size: 1.5em;
    text-align: center;
    padding-top: 1em;
    border-top: 2px solid white;

}
/* bmc: weird stuff afoot #pardonthepun with the footer css */
/* bmc: we should ask Erick about this if we have time */

footer {
    position: fixed;
    height: 70px;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/********************************************
                PAGE: HOME
********************************************/

.index-background {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;

}


/* PARAMETERS */
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    /*height: 450px;*/ /* bmc: removed by me */
    /* bmc: we need the gray bars to go all the way down. To do that, we need this at 100% as well as the .container-fluid div at 100% (above) */
    height:100%;
}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}



/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height: auto;
    }
}




/********************************************
                PAGE: ABOUT
********************************************/
/* bmc: the .background image class is also used on the home page */
.background-image {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-photo {
    display: block;
    max-height: 400px;
    max-width: 400px;
    height: 250px;
    width: 250px;
    margin: 0 auto 30px;

}

#aboutpg-footer {
    background-color: transparent;
    /* bmc: changed from none to transparent */
}

.about-tomagocha {
    font-size: 1.75em;
    font-weight: bold;
}

.font-color {
    font-size: 1.75em;
    font-weight: bold;
    color: #F3F3F3;
    margin: 2em 4em 2em 4em;
}

/* bmc: this is for the social media stuff on the bio page, I think */
#twitterLink {
    font-size: 1.5em;
    color: white;
    margin: 2em 4em 2em 4em;
    font-weight: bold;
}

#tomagocha-twitter-link {
    color: red;
    font-weight: bold;
}

#aboutpg-footer-border {
    border-top: 2px solid #F3F3F3;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/**************************************************
                     PAGE: BIO
**************************************************/
     .bioRow {
        width: 1280px;
        height: 1000px;
    }

/*** Team Member Bio Paragraph ***/
    .fontColor {
        color: white;
        font-size: 18px;
        margin: 10px 10px 10px 10px;
         
     }

     .nameColor {
        font-family: 'Bitter', serif;
        font-size: 25px;
        font-weight: bold;
        color: white;
        text-shadow: .15em .10em black;
        margin-top: 1em;
     }
/* bmc: commented out width because there was no value */
     .teamBio {
        /*width:*/
        margin: 1.75em 1.75em 1.75em 1.75em;
     }

/*** Changed class name from .placeholderMargin to bioPhoto ***/
    .bioPhoto {
        margin: 2.25em 0 1em 0;
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }